html {
  background-color: snow;
  font-size: 10px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  margin: 0 2rem;
  width: 25rem;
  height: 3rem;
  font-size: 2rem;
}

button {
  width: 12rem;
  height: 3.2rem;
}
